@media (min-width: 768px) and (max-width: 979px) {
	#menu {
		display: none;	
	}
	
	#mobile-nav {
    	display: block;
		float: right;
	}
	
	#menu-nav-mobile {
		margin: 0;
	}
	
	header .sticky-nav #mobile-nav,
	header .sticky-nav.stuck #mobile-nav {
		margin-right: 20px;	
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	#back-to-top {
		display: none !important;	
	}
	
	#home-slider {
		margin-left: -20px;
		margin-right: -20px;
	}
	
	header .sticky-nav {
		position: relative;	
	}
	
	header .sticky-nav,
	#navigation-mobile,
	.page,
	.page-alternate {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;	
	}
	
	header .sticky-nav #logo {
		margin-left: 0;
	}
	
	header .sticky-nav.stuck #logo {
		margin-left: 20px;	
	}
	
	header .sticky-nav #menu {
		margin-right: 0;
	}
	
	header .sticky-nav.stuck #menu {
		margin-right: 20px;	
	}
	
	#menu {
		display: none;	
	}
	
	#mobile-nav {
    	display: block;
		float: right;
	}
	
	#menu-nav-mobile {
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 0;
	}
	
	header .sticky-nav.stuck #mobile-nav {
		margin-right: 20px;	
	}
}

@media (max-width: 480px) {
	#back-to-top {
		display: none !important;	
	}
	
	#home-slider {
		margin-left: -20px;
		margin-right: -20px;
	}
	
	#home-slider ul#slide-list {
		display: none;	
	}
	
	header .sticky-nav {
		position: relative;	
	}
	
	header .sticky-nav,
	#navigation-mobile,
	.page,
	.page-alternate {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;	
	}
	
	header .sticky-nav #logo {
		margin-left: 0;
	}
	
	header .sticky-nav.stuck #logo {
		margin-left: 20px;	
	}
	
	header .sticky-nav #menu {
		margin-right: 0;
	}
	
	header .sticky-nav.stuck #menu {
		margin-right: 20px;	
	}
	
	#menu {
		display: none;	
	}
	
	#mobile-nav {
    	display: block;
		float: right;
	}
	
	#menu-nav-mobile {
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 0;
	}
	
	#navigation-mobile li a {
		font-size: 14px;
		padding: 12px 0;
	}
	
	header .sticky-nav.stuck #mobile-nav {
		margin-right: 20px;	
	}

}

@media (max-width: 320px) {
	#navigation-mobile li a {
		padding: 20px 0;
	}
}


/* Retina Display */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
 	only screen and (-moz-min-device-pixel-ratio: 2),
  	only screen and (-o-min-device-pixel-ratio: 2/1),
  	only screen and (min-device-pixel-ratio: 2),
  	only screen and (min-resolution: 2dppx) {
		
		header #logo a {
			background-image: url(../img/logo_@2x.png);
			background-size: 30px 30px;
		}
		
		.menu-nav {
			background-image: url(../img/menu-mobile_@2x.png);
			background-size: 16px 32px;
		}
	}
